---
import Layout from '../layouts/Layout.astro';
import HackathonCard from '../components/HackathonCard.astro';
const link = new URL("/api/upcoming.json", Astro.url)
const hackathons = await fetch(link).then(res => res.json());
interface Hackathon {
	name: string;
	city: string;
	state: string;
	country: string;
	website: string;
	banner: string;
	logo: string;
	virtual: boolean;
	hybrid: boolean;
}

---

<Layout title="ALO Hackclub">
    <style>
      .calendar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      .upcoming-hackathons {
        display: inline-flex;
        justify-content: left;
        overflow-x: auto;
        width: 100%;
        gap: 30px;
		padding: 20px;
      }
    </style>
    <main>
      <div class="calendar-container">
        <div id="cal-heatmap" class="calendar"></div>
      </div>
      <script src="../components/Heatmap.tsx"/>
	  <h1>Nadchodzące hackathony</h1>
      <div class='upcoming-hackathons' id='scrollable-div'>
        {
            hackathons.map((hackathon: Hackathon) => (
                <HackathonCard
                    url={hackathon.website} 
                    backgroundImage={(hackathon.banner.includes('(') || hackathon.banner.includes(')')) ? '/default_card_bg.jpg' : hackathon.banner} 
                    location={`${hackathon.city || ''}${hackathon.city && hackathon.state ? ', ' : ''}${hackathon.state || ''}${hackathon.state && hackathon.country ? ', ' : ''}${hackathon.country || ''}`} 
                    name={hackathon.name} 
                    logo={hackathon.logo}
                    virtual={hackathon.virtual}
                    hybrid={hackathon.hybrid} 
                />
            ))
        }
      </div>
    </main>
</Layout>